/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "./variable.scss";

body {
  background-color: $lightcontrast;
  font-family: $ff;
  scroll-behavior: smooth;
}

.bg-light {
  background-color: white !important;
}

.navbar {
  border-bottom: rgb(160, 153, 153) 1px solid;
  box-shadow: rgba(129, 125, 125, 0.16) 0px 1px 4px;
}

/* Side Nav*/

aside {
  width: 40%;
}
aside a {
  color: $dark;
}
.title {
  font-family: "Roboto Mono", monospace;
  font-size: $lg-font;
  font-weight: $fw-b;
  color: $dark;
}

.btn-event {
  background: $btncolor;
  padding: 7px 15px;
  border-radius: $br-primary-lg;
  color: $lightcolor;
  margin-left: 20px;
}
