$lightcontrast: #fafafa;
$ff: "Poppins", sans-serif;

$ff-secondary: "Roboto Mono", monospace;

$fw-n: 300;
$fw-m: 600;
$fw-b: 800;

$fs-2: 5rem;
$fs-p: 1rem;

$lightcolor: #ffffff;
$lightcontrast: #fafafa;

$btncolor: #fab352;
$btn-c-color: #ffe4a1;
$btn-d-color: #f79d37;
$lg: #eceff1;
$lg-dark: #656f8d;
$pinkish: #ad1457;
$dark: #3d3940;
$teel: #1de9b6;

$sm-font: 0.7rem;
$md-font: 1.1rem;
$lg-font: 1.3rem;

$spacer: 1rem;
$spacer-md: calc(var(--spacer) * 2);
$spacer-lg: calc(var(--spacer) * 3);

$shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$br-primary-lg: 25px;
$br-primary: 5px;
$br-secondary: 3px;
